
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isExistingOwner(userId) {
      return isOwner(userId) && resource != null;
    }

    function isAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
    
    function isTeacherForCourse() {
      return isSignedIn() && request.resource.data.teacherId == request.auth.uid;
    }

    function isExistingTeacherForCourse() {
      return isSignedIn() && resource != null && resource.data.teacherId == request.auth.uid;
    }
    
    function isTeacherForSubject(subjectId) {
      return isSignedIn() && get(/databases/$(database)/documents/subjects/$(subjectId)).data.teacherId == request.auth.uid;
    }

    function isTeacherForEvent() {
      return isSignedIn() && request.resource.data.teacherId == request.auth.uid;
    }

    function isExistingTeacherForEvent() {
      return isSignedIn() && resource != null && resource.data.teacherId == request.auth.uid;
    }

    match /users/{userId} {
      allow get: if isOwner(userId) || isAdmin();
      allow list: if isSignedIn();
      allow create: if isOwner(userId) || isAdmin();
      allow update: if isExistingOwner(userId) || isAdmin();
      allow delete: if isExistingOwner(userId) || isAdmin();
    }

    match /classes/{classId} {
      allow get, list: if isSignedIn();
      allow create: if isAdmin();
      allow update: if isAdmin() && resource != null;
      allow delete: if isAdmin() && resource != null;
    }

    match /subjects/{subjectId} {
      allow get, list: if isSignedIn();
      allow create: if (isSignedIn() && request.resource.data.teacherId == request.auth.uid) || isAdmin();
      allow update: if (isSignedIn() && resource != null && resource.data.teacherId == request.auth.uid) || isAdmin();
      allow delete: if (isSignedIn() && resource != null && resource.data.teacherId == request.auth.uid) || isAdmin();
    }
    
    match /courses/{courseId} {
      allow get, list: if isSignedIn();
      allow create: if (isTeacherForCourse() && isTeacherForSubject(request.resource.data.subjectId)) || isAdmin();
      allow update: if isExistingTeacherForCourse() || isAdmin();
      allow delete: if isExistingTeacherForCourse() || isAdmin();
    }
    
     match /class_students/{classStudentId} {
      allow get, list: if isSignedIn();
      allow create: if isAdmin();
      allow update: if isAdmin() && resource != null;
      allow delete: if isAdmin() && resource != null;
    }

    match /class_teachers/{classTeacherId} {
      allow get, list: if isSignedIn();
      allow create: if isAdmin();
      allow update: if isAdmin() && resource != null;
      allow delete: if isAdmin() && resource != null;
    }
    
    match /roles_admin/{userId} {
       allow get: if isAdmin();
       allow list: if false;
       allow create: if isAdmin();
       allow update: if false;
       allow delete: if isAdmin();
    }

    match /schedule/{eventId} {
      allow get, list: if isSignedIn();
      allow create: if isTeacherForEvent() || isAdmin();
      allow update: if isExistingTeacherForEvent() || isAdmin();
      delete: if isExistingTeacherForEvent() || isAdmin();
    }

    match /authorized_students/{studentId} {
      allow list: if isSignedIn();
      allow get, create, update, delete: if isAdmin();
    }
  }
}
