
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isExistingOwner(userId) {
      return isOwner(userId) && resource != null;
    }

    function isAdmin() {
      return exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }
    
    function isTeacherForEvent() {
      return isSignedIn() && request.resource.data.teacherId == request.auth.uid;
    }

    function isExistingTeacherForEvent() {
      return isSignedIn() && resource != null && resource.data.teacherId == request.auth.uid;
    }

    match /users/{userId} {
      allow get: if isOwner(userId) || isAdmin();
      allow list: if isSignedIn();
      allow create: if isOwner(userId) || isAdmin();
      allow update: if isExistingOwner(userId) || isAdmin();
      allow delete: if isExistingOwner(userId) || isAdmin();
    }

    match /classes/{classId} {
      allow get, list: if isSignedIn();
      allow create: if isAdmin();
      allow update: if isAdmin() && resource != null;
      allow delete: if isAdmin() && resource != null;
    }

    match /subjects/{subjectId} {
      allow get, list: if true;
      allow create: if (isSignedIn() && request.resource.data.teacherId == request.auth.uid) || isAdmin();
      allow update: if (isSignedIn() && resource != null && resource.data.teacherId == request.auth.uid) || isAdmin();
      allow delete: if (isSignedIn() && resource != null && resource.data.teacherId == request.auth.uid) || isAdmin();
    }
    
    match /courses/{courseId} {
      allow get, list: if true;
      allow create: if isTeacherForEvent() || isAdmin();
      allow update: if isExistingTeacherForEvent() || isAdmin();
      allow delete: if isExistingTeacherForEvent() || isAdmin();
    }

     match /class_students/{classStudentId} {
      allow get, list: if isSignedIn();
      allow create: if isAdmin();
      allow update: if isAdmin() && resource != null;
      allow delete: if isAdmin() && resource != null;
    }

    match /class_teachers/{classTeacherId} {
      allow get, list: if isSignedIn();
      allow create: if isAdmin();
      allow update: if isAdmin() && resource != null;
      allow delete: if isAdmin() && resource != null;
    }
    
    match /roles_admin/{userId} {
       allow get: if isAdmin();
       allow list: if false;
       allow create: if isAdmin();
       allow update: if false;
       allow delete: if isAdmin();
    }

    match /schedule/{eventId} {
      allow get, list: if isSignedIn();
      allow create: if isTeacherForEvent() || isAdmin();
      allow update: if isExistingTeacherForEvent() || isAdmin();
      allow delete: if isExistingTeacherForEvent() || isAdmin();
    }
  }
}
